// Test SCSS file with variables and nesting
$primary-color: #3498db;
$secondary-color: #2ecc71;

body {
    background-color: $primary-color;

    h1 {
        color: $secondary-color;

        &:hover {
            color: darken($secondary-color, 10%);
        }
    }
}

.container {
    padding: 1rem;

    .nested {
        margin: 0.5rem;
    }
}
