name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-windows:
    runs-on: depot-windows-2022-16
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build
        run: cargo xtask build

      - name: Check
        run: cargo check --all-features

  test-linux:
    runs-on: depot-ubuntu-24.04-16
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
          targets: wasm32-unknown-unknown

      - uses: dtolnay/rust-toolchain@nightly

      - uses: Swatinem/rust-cache@v2

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build
        run: cargo xtask build

      - name: Clippy
        run: cargo clippy --all-features --all-targets -- -D warnings

      - name: Run tests
        run: cargo test --all-features

  test-macos:
    runs-on: depot-macos-15
    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
          targets: wasm32-unknown-unknown

      - uses: dtolnay/rust-toolchain@nightly

      - uses: Swatinem/rust-cache@v2

      - name: Install wasm-pack
        run: brew install wasm-pack

      - name: Build
        run: cargo xtask build

      - name: Clippy
        run: cargo clippy --all-features --all-targets -- -D warnings

      - name: Run tests
        run: cargo test --all-features
